.sideBar {
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: var(--admin-componentBackground);
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom: 1px solid rgb(77, 77, 77);
    z-index: 5;
    menu {
        height: 100%;
        @include flexDisplay(space-between, center, row);
        ul {
            height: 100%;
            @include flexDisplay(flex-start, center, row);
            li {
                width: 100%;
                height: 100%;
                padding: 0 5px;
                a {
                    position: relative;
                    width: 100%;
                    padding:0px 12px;
                    height: 100%;
                    @include flexDisplay(flex-start, center, row);
                    color: rgb(215, 215, 215);
                    font-weight: 600;
                    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                      font-size: 15px;
                    &.active {
                        color: white;
                        border-bottom: 2px solid white;
                        font-size: 16px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}