.topBar {
    background-color: var(--topBar);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    height: 60px;
    @include flexDisplay(space-between, center, row);
    padding: 0px 20px;
    border-radius: 20px;
    .adminProfile {
        background-color: var(--componentBackground);
        padding: 5px 20px;
        border-radius: 50px;
        @include flexDisplay(center, center, row);
        gap: 20px;

        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            background-color: var(--background);
            border-radius: 50%;
        }
    }

    .timer{
        width: 40%;
        height: 40px;
        background-color: var(--componentBackground);
        padding: 5px 20px;
        border-radius: 50px;
        @include flexDisplay(center, center, row);
        gap: 20px;
    }

    .topBarSearchBar {
        @include flexDisplay(center, center, row);
        gap: 30px;
        .topBarNotificationIcon {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px dashed gray;
            color: gray;
            @include flexDisplay(center, center, row);
            font-size: 18px;
        }
    }
}