.clip {
  height: calc(100vh - 100px);
}
.clipCard {
  width: 400px;
  height: 100%;
  border-radius: 20px;
  position: relative;
  border: 1px solid var(--border);
  .vid_controls{
    position: absolute;
    bottom: 20px;
    padding-bottom: 10px;
    @include flexDisplay(space-between, center, row);
    z-index: 6;
    width: 100%;
    padding: 0px 20px;
    svg{
      font-size: 30px;
      color: white;
      cursor: pointer;
    }
  }
  video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    outline: none;
    z-index: 5;
    position: relative;
  }
  .text {
    padding: 10px 5px;
    position: absolute;
    top: 0;
    width: 100%;
    height: max-content;
    transition: 0.1s ease-in-out;
    color: white;
    @include flexDisplay(flex-start, center, column);
    .followBtnAndNameContainer {
      @include flexDisplay(flex-start, center, row);
      margin-bottom: 3px;
      button {
        margin-left: 10px;
        font-size: 11px;
        padding: 3px 10px;
        border: 1px solid var(--majorColor);
        background-color: var(--majorColor);
        border-radius: 50px;
        font-weight: 800;
        color: white;
      }
    }
    .profile {
      @include flexDisplay(flex-start, center, row);
      width: 100%;
      img {
        width: 35px;
        height: 35px;
        border: 2px solid var(--border);
        margin-right: 5px;
        border-radius: 50%;
      }
      p {
        font-size: 13px;
        line-height: 1;
        font-weight: 500;
      }
    }
  }
  .reactionContainer {
    position: absolute;
    top: 0;
    right: -80px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    @include flexDisplay(center, center, column);
    gap: 20px;

    .reactionIcon {
      color: var(--lightColor);
      width: 50px;
      height: 50px;
      padding: 5px;
      border-radius: 50%;
      @include flexDisplay(center, center, column);
      &:hover{
        background-color: var(--hover);
        h5{
          height: 22px;
        }
      }
      border: 1px solid var(--border);
      svg {
        font-size: 25px;
      }
      h5{
        height: 0;
        overflow: hidden;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .clip {
    height: calc(100vh - 150px);
  }
  .clipCard{
    .reactionContainer{
      left: 0;
      top: 100%;
      bottom: -70px;
      z-index: 7;
      width: 100%;
      @include flexDisplay(space-between, center, row);
    }
  }
}

@media screen and (max-width: 700px) {
  .clip {
   padding: 0px 10px;
   .clipCard{
    width: 100%;
   }
  }
}