.exploreContainer {
  width: 550px;
  padding: 0 30px;
  // .swiper-button-next{
  //     transform: translateX(10px);
  // }
  .swiper-wrapper {
    width: calc(100% - 30px);
    margin: 0px auto;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 18px;
    font-weight: 900;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    @include flexDisplay(center, center, row);
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.354);
  }
  .ExploreCategories {
    height: 60px;
    @include flexDisplay(center, center, row);
    padding-right: 20px;
    .card {
      background-color: var(--background);
      height: 100%;
      min-width: 200px;
      max-width: 200px;
      padding: 10px 20px;
      border-radius: 50px;
      @include flexDisplay(flex-start, center, row);
      margin-right: 15px;
      border: 1px solid var(--border);
      svg {
        font-size: 26px;
        margin-right: 10px;
      }
      h3 {
        color: var(--color);
        font-size: 14px;
      }
    }
  }

  .exploreTrendingPost {
    width: 100%;
    margin: 20px auto;
    .ExploreTrending {
      width: 100%;
      h4 {
        margin-bottom: 30px;
      }
      .trendingPostContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        .card{
            position: relative;
            width: 100%;
            border: 1px solid var(--border);
            border-radius: 10px;
            &:hover{
                background-color: var(--hover);
            }
            img{
                width: 100%;
                border-radius: 10px 10px 0 0;
                height: 180px;
                object-fit: cover;
            }
            .text{
                padding: 10px;
                h4{
                    margin: 0;
                    font-size: 15px;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                    color: var(--lightColor);
                }
            }
            .more{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
      }
    }
  }
  .postContainer {
    width: 100%;
    min-width: 100%;
    padding: 0;
    // padding: 0px 30px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

