.exploreContainer{
    width: 600px;
    padding: 0 30px;
    .ExploreCategories{
        height: 80px;
        .card{
            background-color: var(--background);
            height: 100%;
            min-width: 200px;
            max-width: 200px;
            padding:10px 20px;
            border-radius: 5px;
            @include flexDisplay(space-between, flex-start, column);
            margin-right: 15px;
            border: 1px solid var(--border);
            svg{
                font-size:26px;
            }
            h3{
                color: var(--color);
                font-size: 14px;
            }
        }   
    }
    
        .exploreTrendingPost{
            width: 100%;
            margin: 40px auto;

            .ExploreTrending{
                width: 100%;
                
                h4{
                    margin-bottom: 30px;
                }

                .trendingPostContainer{
                .card{
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 20px;
                    @include flexDisplay(flex-start, flex-start, row);
                    //  border: 1px solid var(--border);
                     border-radius: 10px;
                    background-color: var(--componentBackground);
                    img{
                        width: 90px;
                        height: 90px;
                        border-radius: 10px;
                        object-fit: cover;
                        margin-right: 20px;
                    }
                    .text{
                        padding-top: 10px;
                        h4{
                            margin: 0;
                            margin-bottom: 5px;
                        }
                        p{
                            color:var(--lighterColor) ;
                            line-height: 1.5;
                            font-size: 16.5px;
                        }
                    }
                }
            }
      
            }
        }
        .postContainer{
            width: 100%;
            min-width: 100%;
            padding: 0;
            // padding: 0px 30px;
            margin: 0 auto;
            margin-top: 30px;
        }
}

