.homeContainer {
  @include flexDisplay(center, flex-start, row);
  padding: 0px 30px;
  padding-top: 30px;
  .HomeSideBar {
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    margin-bottom: 10px;
    .userDetailsContainer {
      @include flexDisplay(center, center, column);
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
        h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
  .upgradeAds {
    padding: 20px;
    height: 200px;
    background: linear-gradient(60deg, royalblue, purple, orange, crimson);
    border-radius: 10px;
    text-align: center;
    color: white;
    @include flexDisplay(center, center, column);
    button {
      color: white;
      padding: 10px 30px;
      border-radius: 50px;
      border: 2px solid white;
      background-color: transparent;
      font-weight: 800;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .postContainer {
    width: 520px;
    min-width: 520px;
    min-height: calc(100vh - 70px);
    padding: 0px 30px;
    .card {
      padding: 20px;
      background-color: white;
      width: 100%;
      background-color: white;
      border: 1px solid rgb(240, 240, 240);
      border-radius: 10px;
      margin-bottom: 20px;
      .postProfile {
        @include flexDisplay(space-between, flex-start, row);
        .profileDetails {
          @include flexDisplay(center, center, row);
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
          }
          span {
            color: gray;
            font-size: 12px;
          }
          h4 {
            font-weight: 600;
          }
        }
      }
      .postCaption {
        margin-top: 10px;
      }
      .postContent {
        margin-top: 20px;
        width: 100%;
        max-height: 550px;
        &.grid4 {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
        }
        img {
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      .postReactions {
        margin-top: 20px;
        width: 100%;
        border-radius: 20px;
        @include flexDisplay(space-between, center, row);
        .postReactionsContent {
          border: 1px solid rgb(206, 212, 218);
          width: 150px;
          border-radius: 30px;
          padding: 5px 10px;
          @include flexDisplay(space-between, center, row);
          background-color: rgb(252, 252, 252);
          .postReactionIconContainer {
            cursor: pointer;
            svg {
              font-size: 22px;
              fill: gray;
            }
            // &:nth-child(1){
            //     svg{
            //         fill: royalblue;
            //     }
            // }
            // &:nth-child(2){
            //     svg{
            //         fill: crimson;
            //     }
            // }
            // &:nth-child(3){
            //     svg{
            //         fill: rgb(123, 203, 2);
            //     }
            // }
          }
          .postCommentSection {
          }
        }
      }
    }
  }
  .ActivityAndTrendingBar {
    position: sticky;
    top: 100px;
    width: 350px;
    height: calc(100vh - 110px);
    background-color: rgb(253, 254, 255);
    padding: 20px;
    border-radius: 10px;
    .activityContainer {
      .activityBox {
        margin-top: 20px;
        @include flexDisplay(flex-start, flex-start, row);
        border-bottom: 1px solid gainsboro;
        padding-bottom: 10px;
        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
         
        }
        p {
            font-size: 15px;
            margin-bottom: 5px;
            a{
                font-weight: 600;
            }
          }
          .time{
            color: gray;
            font-size: 13px;
          }
      }
    }
  }
}
