.homeContainer {
  @include flexDisplay(center, flex-start, row);
  height: 100%;
  .HomeSideBar {
    width: 280px;
    border-radius: 15px;
    background-color: var(--componentBackground);
    border: 1px solid var(--border);
    overflow: hidden;
    margin-bottom: 20px;
    .userDetailsContainer {
      @include flexDisplay(center, center, column);
      .profileBackgroundImg {
        @include flexDisplay(center, center, column);
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.26);
        background-image: url("https://i.ytimg.com/vi/e8fZ_Up1ZCE/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCoUVkKxcqSxQZNrzo0HUZDpQ3Xug");
        background-size: cover;
        width: 100%;
        margin-bottom: 40px;
        position: relative;
      }
      .coverPics {
        width: 100%;
        height: 100px;
        object-fit: cover;
      }
      .profilePics {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
        position: absolute;
        bottom: -40px;
        border: 5px solid var(--componentBackground);
      }

      h3 {
        margin-bottom: 5px;
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.upgradeAds {
  padding: 20px;
  height: 200px;
  width: 280px;
  position: sticky;
  top: 80px;
  background: linear-gradient(
    45deg,
    slateblue,
    royalblue,
    rgb(17, 188, 255),
    rgb(90, 205, 190)
  );
  border-radius: 15px;
  text-align: center;
  color: white;
  @include flexDisplay(center, center, column);
  button {
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
  }
}

.ActivityAndTrendingBar {
  position: sticky;
  top: 85px;
  width: 380px;
  padding: 20px 10px;
  height: calc(100vh - 105px);
  background-color: var(--componentBackground);
  overflow-y: auto;
  border: 1px solid var(--border);
  border-radius: 15px;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--border);
    }
  }
  .heading {
    padding: 10px 20px;
    position: sticky;
    top: 0px;
  }
  &.notificationContainer {
    width: 550px;
    position: static;
    background-color: var(--componentBackground);
    border: 1px solid var(--border);
    border-radius: 10px;
  }
  &.SuggestedToFollow {
    .activityContainer {
      .activityBox {
        border-radius: 8px;
        .notificationDetails {
          @include flexDisplay(center, center, row);
        }
        button {
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }
  .noActivity {
    height: 80%;
    @include flexDisplay(center, center, column);
    font-size: 16px;
    svg {
      font-size: 50px;
      margin-bottom: 20px;
    }
  }
  .activityContainer {
    .activityBox {
      margin-top: 20px;
      @include flexDisplay(space-between, center, row);
      padding: 10px 15px;
      padding-bottom: 10px;

      &:hover {
        background-color: var(--hover);
      }
      .notificationDetails {
        @include flexDisplay(center, flex-start, row);
        img {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }
        p {
          font-size: 18px;
          a {
            font-weight: 600;
          }
        }
        .time {
          color: gray;
          font-size: 13px;
        }
        .btnContainer {
          margin-top: 2px;
          button {
            font-weight: 900;
          }
        }
      }
    }
  }

  .activityCardContainer {
    .card {
      width: 100%;
      padding: 10px;
      @include flexDisplay(space-between, center, row);
      border-bottom: 1px solid var(--border);
      position: relative;
      &:hover {
        background-color: var(--hover);
        border-radius: 8px;
        .more{
          visibility: visible;
        }
      }
      img {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
      .text {
        width: 100%;
        .time {
          margin: 0;
          margin-bottom: 0px;
          font-size: 12px;
          color: var(--majorColor);
        }
        p {
          color: var(--lightColor);
          line-height: 1.1;
          font-family: var(--textFont);
          font-weight: 400;
          font-size: 15px;
          span,
          a {
            font-weight: 600;
          }
        }
      }
      .more {
        position: absolute;
        top: 10px;
        right: 10px;
        visibility: hidden;
      }
    }
  }
}

.postContainer {
  width: 500px;
  min-width: 500px;
  min-height: calc(100vh - 70px);
  padding: 0px 20px;

  margin: auto;
  .CreatePost {
    margin-bottom: 10px;
    border: 1px solid var(--border);
    border-radius: 15px;
    background-color: var(--componentBackground);
    overflow: hidden;
    height:100px;
    @include flexDisplay(space-between, center, row);
    .mantine-Textarea-icon {
      padding-top: 10px;
      align-items: flex-start;
    }
    .mantine-Textarea-root {
      align-items: flex-start;
      width: 100%;
      margin-top: 10px;
      textarea {
        width: 100%;
        font-weight: 600;
        font-family: var(--textFont) !important;
        font-weight: 400;
        font-size: 16px;
        &::placeholder {
          color: var(--majorColor);
        }
      }
    }
    &.focused {
      flex-direction: column !important;
      border: 2px solid var(--majorColor);
      min-height: 300px;
      height: 100%;
      max-height: max-content;
      .mantine-Textarea-root {
        margin-top: 0;
      }
      .postImagePreview {
        width: 98%;
      }
      .creatPostType {
        width: 100%;
        border: none;
      }
      .mantine-Textarea-root {
        align-items: flex-start;
        width: 100%;
        padding-right: 5px;
        textarea {
          width: 100%;
          height: 200px;

          &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
            padding-right: 5px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            background: none;
            background-color: gray;
          }
        }
      }
    }
    .creatPostType {
      width: 220px;
      @include flexDisplay(space-between, center, row);
      border-left: 1px solid var(--border);
      padding: 12px;
      padding-bottom: 20px;

      .iconContainer {
        border: none;
        background-color: transparent;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        width: max-content;

        input {
          width: 200px;
          height: 200px;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }
        svg {
          font-size: 22px;
          color: var(--majorColor);
          cursor: pointer;
        }
        p {
          font-size: 9px;
          font-weight: 600;
          color: var(--lighterColor);
          cursor: pointer;
        }
      }
      .postBtnContainer {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }

    .postImagePreview {
      position: relative;
      display: grid;
      max-height: 350px;
      overflow: auto;
      gap: 5px;
      padding: 10px;
      width: 0%;
      grid-template-columns: repeat(1, 1fr);
      .close-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.432);
        color: white;
        font-size: 22px;
        z-index: 2;
        @include flexDisplay(center, center, row);
        cursor: pointer;
      }

      &.C5_card {
        grid-template-columns: repeat(2, 1fr);
        .previewCard {
          height: 200px !important;
          &:nth-child(3) {
            grid-row: 2 / span 2;
            grid-column: 1;
            height: 100% !important;
          }
        }
      }
      &.C4_card {
        grid-template-columns: repeat(2, 1fr) !important;
        .previewCard {
          height: 150px !important;
        }
      }

      &.C2_card {
        grid-template-columns: repeat(2, 1fr) !important;
        .previewCard {
          height: 300px !important;
        }
      }
      &.C3_card {
        grid-template-columns: repeat(2, 1fr);
        .previewCard {
          height: 200px !important;
          &:nth-child(1) {
            grid-column: 1 / span 2;
            height: 200px !important;
          }
        }
      }
      &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
        padding-right: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: none;
        background-color: gray;
      }

      .previewCard {
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .postCounter {
          width: 0;
          height: 0;
        }
        &:nth-child(5) {
          .postCounter {
            background-color: rgba(0, 0, 0, 0.432);
            width: 100%;
            height: 100%;
            position: absolute;
            @include flexDisplay(center, center, row);
            top: 0;
            left: 0;
            color: white;
          }
        }
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .heading {
      color: var(--lighterColor);
    }
  }
  .card {
    padding: 20px;
    background-color: var(--componentBackground);
    width: 100%;
    background-color: var(--componentBackground);
    transition: 0.2s;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--border);
    .postProfile {
      @include flexDisplay(space-between, flex-start, row);
      .profileDetails {
        @include flexDisplay(center, center, row);
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }
        span {
          color: gray;
          font-size: 12px;
        }
        h4 {
          font-weight: 600;
        }
      }
    }
    .postCaption {
      margin-top: 10px;
      font-family: var(--textFont);
      font-weight: 300;
      font-size: 15px;

    }
    .postContent {
      margin-top: 10px;
      width: 100%;
      max-height: 550px;
      min-height: 0;
      display: grid;
      gap: 4px;
      &.C5_card {
        grid-template-columns: repeat(2, 1fr);
        .previewCard {
          height: 200px !important;
          &:nth-child(3) {
            grid-row: 2 / span 2;
            grid-column: 1;
            height: 100% !important;
          }
        }
      }
      &.C4_card {
        grid-template-columns: repeat(2, 1fr) !important;
        .previewCard {
          height: 150px !important;
        }
      }

      &.C2_card {
        grid-template-columns: repeat(2, 1fr) !important;
        .previewCard {
          height: 250px !important;
        }
      }
      &.C3_card {
        grid-template-columns: repeat(2, 1fr);
        .previewCard {
          height: 200px !important;
          &:nth-child(1) {
            grid-column: 1 / span 2;
            height: 200px !important;
          }
        }
      }
      .previewCard {
        width: 100%;
        border-radius: 8px;
        height: 300px;
        overflow: hidden;
        background-position: top;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .postReactions {
      margin-top: 20px;
      width: 100%;
      border-top: 1px solid var(--border);
      padding-top: 15px;
      @include flexDisplay(space-between, center, row);
      .postReactionsContent {
        width: 150px;
        border-radius: 30px;
        padding: 5px 10px;
        @include flexDisplay(space-between, center, row);
        .postReactionIconContainer {
          cursor: pointer;
          text-align: center;
          font-weight: 200;
          font-size: 15px;
          line-height: 1;
          svg {
            font-size: 20px;
            fill: gray;
          }
          h6{
            font-size: 9px;
          }
          &:nth-child(2) {
            svg {
              // fill: rgb(173, 13, 47);
            }
          }
        }
        .postCommentSection {
        }
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .ActivityAndTrendingBar {
    display: none;
    &.notificationContainer,
    &.SuggestedToFollow {
      display: block;
    }
  }
}

@media screen and (max-width: 891px) {
  .homeContainer {
    .HomeSideBar,
    .upgradeAds {
      display: none;
    }
  }

  .ActivityAndTrendingBar {
    &.SuggestedToFollow {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .postContainer{
    width: 100vw;
    min-width: 100vw;
    padding: 0px 0px;
    .card,.CreatePost {
      padding: 20px 10px;
      border-radius: 0px;
      border-right: none;
      border-left: none;
    }
  }
  .ActivityAndTrendingBar{
    &.notificationContainer{
    border-radius: 0;
    border-right: none;
    border-left: none;
    padding: 20px 10px;
    }
    .activityContainer{
      .notificationDetails{
        .img{
          width: 40px;
          height: 40px;
        }
        h4{
          font-size: 18px;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }
}
