.homeContainer {
  @include flexDisplay(center, flex-start, row);
  height: 100%;
  padding: 0px 30px;
  .HomeSideBar {
    width: 280px;
    background-color: var(--componentBackground);
    padding: 20px;
    border-radius: 5px;
    // rgb(240, 240, 240)
    border: 1px solid var(--border);
    margin-bottom: 20px;
    .userDetailsContainer {
      @include flexDisplay(center, center, column);
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
        h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
  
}

.upgradeAds {
  padding: 20px;
  height: 200px;
  width: 280px;
  position: sticky;
  top: 80px;
  background: linear-gradient(60deg, royalblue, purple, orange, crimson);
  border-radius: 5px;
  text-align: center;
  color: white;
  @include flexDisplay(center, center, column);
  button {
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
  }
}


.ActivityAndTrendingBar {
  position: sticky;
  top: 80px;
  width: 350px;
  height: calc(100vh - 110px);
  // rgb(253, 254, 255)
  background-color: var(--background);
  padding: 20px;
  border-radius: 5px;
  &.notificationContainer {
    width: 750px;
    position: static;
    background-color: var(--componentBackground);
    border: 1px solid var(--border);
    border-radius: 5px;
  }
  .noActivity {
    height: 80%;
    @include flexDisplay(center, center, column);
    font-size: 16px;
    svg {
      font-size: 50px;
      margin-bottom: 20px;
    }
  }
  .activityContainer {
    .activityBox {
      margin-top: 20px;
      @include flexDisplay(space-between, flex-start, row);
      border-bottom: 1px solid var(--border);
      padding-bottom: 10px;
      .notificationDetails {
        @include flexDisplay(center, flex-start, row);
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }
        p {
          font-size: 15px;
          margin-bottom: 5px;
          a {
            font-weight: 600;
          }
        }
        .time {
          color: gray;
          font-size: 13px;
        }
        .btnContainer {
          margin: 5px 0px;
        }
      }
    }
  }
}

.postContainer {
  width: 600px;
  min-width: 600px;
  min-height: calc(100vh - 70px);
  padding: 0px 30px;
  margin:  auto;
  .card {
    padding: 20px;
    background-color: var(--componentBackground);
    width: 100%;
    background-color: var(--componentBackground);
    transition: 0.2s;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid var(--border);
    &:hover{
      background-color: var(--hover)
    }
    .postProfile {
      @include flexDisplay(space-between, flex-start, row);
      .profileDetails {
        @include flexDisplay(center, center, row);
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }
        span {
          color: gray;
          font-size: 12px;
        }
        h4 {
          font-weight: 600;
        }
      }
    }
    .postCaption {
      margin-top: 10px;
    }
    .postContent {
      margin-top: 20px;
      width: 100%;
      max-height: 550px;
      min-height: 0;
      &.grid4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
      }
      &.grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        img{
          grid-row:1 /span 2 ;
        }
        gap: 15px;
      }
      &.gridBigTop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        img{
          width: 100%;
          &:nth-child(1){
            height:100%;
            // display: none;
            grid-column:1 /span 3 ;
            grid-row:1 /span 2 ;
          }
        }
      }
      &.gridBigLeft {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
        img{
          width: 100%;
          &:nth-child(1){
            height: 100%;
            // display: none;
            grid-row:1 /span 3 ;
            grid-column:1 /span 2 ;
          }
        }
      }
      img {
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
    }
    .postReactions {
      margin-top: 20px;
      width: 100%;
      border-radius: 20px;
      @include flexDisplay(space-between, center, row);
      .postReactionsContent {
        width: 150px;
        border-radius: 30px;
        padding: 5px 10px;
        @include flexDisplay(space-between, center, row);
        .postReactionIconContainer {
          cursor: pointer;
          svg {
            font-size: 22px;
            fill: gray;
          }
          // &:nth-child(1){
          //     svg{
          //         fill: royalblue;
          //     }
          // }
          // &:nth-child(2){
          //     svg{
          //         fill: crimson;
          //     }
          // }
          // &:nth-child(3){
          //     svg{
          //         fill: rgb(123, 203, 2);
          //     }
          // }
        }
        .postCommentSection {
        }
      }
    }
  }
}