@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --background: rgb(238, 238, 238);
  --componentBackground: white;
  --color: black;
  --lightColor: rgb(77, 77, 77);
  --lighterColor: gray;
  --hover: rgb(248, 248, 248);
  --majorColor: rgb(32, 155, 240);
  --topBar: rgba(245, 245, 245, 0.507);
  --shadow1: 0px 0px 2.5px rgba(0, 0, 0, 0.184);
  --shadow2: 0px 0px 20px #5946ffa9;
  --border: rgb(225, 225, 225);
  --chatBackgroundImage: url("../../static/images/chat-light-theme.jpeg");
  --chatBackgroundBlendMode: lighten;
  --chatBackgroundColor: rgba(245, 245, 245, 0.946);
  --chatReciverMessageBackgroundColor: rgb(255, 255, 255);
  --chatSenderMessageBackgroundColor: rgb(129, 202, 255);
  --textFont:'Lexend', sans-serif;

}
// rgb(32, 32, 36)
[data-theme="dark"] {
  --background: rgb(0, 0, 0);
  --componentBackground: rgb(24, 23, 27);
  --color: rgb(213, 213, 213);
  --lightColor: whitesmoke;
  --lighterColor: rgb(211, 211, 211);
  --hover: rgb(28, 29, 31);
  --topBar: rgba(34, 35, 41, 0.533);
  --shadow1: 0px 0px 2px rgba(225, 225, 225, 0.184);
  --shadow2: 0px 0px 20px #5946ffa9;
  --border: rgb(54,59,64);
  --chatBackgroundImage: url("../../static/images/chat-dark-theme.jpeg");
  --chatBackgroundBlendMode: darken;
  --chatBackgroundColor: rgba(19, 19, 20, 0.946);
  --chatReciverMessageBackgroundColor: rgb(52, 52, 52);
  --chatSenderMessageBackgroundColor: rgb(67, 177, 255);

}

[data-theme="dimmed"] {
  --background: rgb(28, 31, 43);
  --componentBackground: rgb(28, 31, 43);
  --color: rgb(213, 213, 213);
  --lightColor: whitesmoke;
  --lighterColor: rgb(211, 211, 211);
  --hover: rgb(40, 44, 49);
  --topBar: rgba(34, 35, 41, 0.533);
  --shadow1: 0px 0px 2px rgba(225, 225, 225, 0.184);
  --shadow2: 0px 0px 20px #5946ffa9;
  --border: rgb(49, 59, 82);
  --chatBackgroundImage: url("../../static/images/chat-dark-theme.jpeg");
  --chatBackgroundBlendMode: darken;
  --chatBackgroundColor: rgba(19, 19, 20, 0.946);
  --chatReciverMessageBackgroundColor: rgb(52, 52, 52);
  --chatSenderMessageBackgroundColor: rgb(67, 177, 255);
}

@mixin flexDisplay($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}





body {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

a {
  color: inherit;
}

.backArrow {
  color: var(--color) !important;
  fill: var(--color) !important;
  font-size: 25px;
}

.userApp {
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
  color: var(--color);
  border-color: var(--border) !important;
  font-weight: 500;
  @import "side_bar";
  .appContainer {
    padding-top: 15px;
    position: relative;
    @include flexDisplay(center, flex-start, row);
    @import "home";
    @import "explore";
    @import "chat";
    @import "call";
    @import "profile";
    @import "settings";
    @import "clip";
  }
}
.BigPostCard {
  &.mantine-Modal-root {
    width: 100vw !important;
    height: 100vh;
    @include flexDisplay(center, center, row);
    .mantine-Modal-inner {
      width: max-content;
      margin: 0px auto;
      padding: 0px !important;
      position: relative;
      .mantine-Modal-header {
        position: relative;
        z-index: 1;
        .mantine-Modal-close	 {
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
          max-height: 40px;
          border-radius: 50%;
          svg{
            font-size: 25px;
            width: 20px;
            height: 20px;
          }
        }
      }
      .mantine-Modal-modal	 {
        margin: 0 !important;
        width: 100%;
        height: calc(100vh - 30px);
        min-width: calc(100vw - 70px);
        max-width: calc(100vw - 70px);
        overflow: hidden;
      }
    }
  }
  .BigPostCardContent {
    width: 100%;
    height: 100%;
    height: calc(100vh - 30px);
    @include flexDisplay(center, flex-start, row);
    position: absolute;
    top: 0;
    left: 0;
    .imagePreview {
      width: 60%;
      height: 100%;
      @include flexDisplay(center, center, column);
      padding:0 20px;
      .mySwiper{
        width: 100%;
        .swiper-button-next:after,
        .swiper-button-prev:after {
          font-size: 16px;
          font-weight: 900;
          min-width: 30px;
          max-width: 30px;
          min-height: 30px;
          max-height: 30px;
          @include flexDisplay(center, center, row);
          border: 1px solid var(--majorColor);
          border-radius: 50%;
        }
      }
      .imagePreviewCard{
        width: 100%;
        height: 100%;
        max-height: 80%;
        padding:0 50px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }
    .commentSection {
      width: 40%;
      height: 100%;
    }
  }
}

.drawer_container{
  .drawer_label{
    color: var(--lighterColor);
    margin-bottom: 10px;
    font-size: 13px;
    border-bottom: 1px solid var(--border);
  }
  .drawer_item{
    width: 100%;
    @include flexDisplay(flex-start, center, row);
    gap: 10px;
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
    color: var(--lightColor);
    margin-bottom: 5px;
    border-radius: 5px;
    &:hover{
      background-color: var(--hover);
    }
    svg{
      font-size: 20px;
    }
  }
}