@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Livvic", sans-serif;
    text-decoration: none;
    list-style: none;
}

input,
textarea {
    font-family: "Livvic", sans-serif !important;
}

:root {
    --background: whitesmoke;
    --componentBackground: white;
    --color: black;
    --lightColor: rgb(77, 77, 77);
    --lighterColor: gray;
    --hover: rgb(250, 250, 250);
    --majorColor: royalblue;
    --topBar: rgba(245, 245, 245, 0.507);
    --shadow1: 0px 0px 30px rgba(0, 0, 0, 0.062);
    --shadow2: 0px 0px 20px #5946ffa9;
    --border: gainsboro;
}

[data-theme="dark"] {
    --background: rgb(24,24,24);
    --componentBackground: rgb(33,33,33);
    --color: white;
    --lightColor: whitesmoke;
    --lighterColor: rgb(211, 211, 211);
    --hover: rgb(25, 25, 25);
    --topBar: rgba(34, 35, 41, 0.533);
    --shadow1: 0px 0px 30px rgba(13, 13, 13, 0.548);
    --shadow2: 0px 0px 20px #5946ffa9;
    --border: rgb(49,49,49);
}

@mixin flexDisplay($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}body{
    width: 100%;
    height: 100%;
    background-color: inherit;
}



a {
    color: inherit;
}

.userApp{
    background-color:var(--background) ;
    width: 100%;
    min-height: 100vh;
    color: var(--color);
    border-color: var(--border) !important;
    @import "side_bar";
    input{
        background-color: var(--componentBackground);
        color: var(--color);
    }
    .appContainer{
    padding-top: 30px;
    @include flexDisplay(center, flex-start, row); 
     @import "home";
     @import "explore";
    
    }
}
