@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Livvic", sans-serif;

    text-decoration: none;
    list-style: none;
    // font-family: 'Urbanist', sans-serif;


}

input,
textarea {
    font-family: "Livvic", sans-serif !important;
}

:root {
    --background: rgb(247,249,249);
    --componentBackground: white;
    --color: black;
    --lightColor: rgb(77, 77, 77);
    --lighterColor: gray;
    --hover: rgb(248, 248, 248);
    --majorColor: rgb(32,155,240);
    --topBar: rgba(245, 245, 245, 0.507);
    --shadow1:0px 0px 2.5px rgba(0, 0, 0, 0.184);
    --shadow2: 0px 0px 20px #5946ffa9;
    --border: rgba(222, 226, 230, 0.746);
    --chatBackgroundImage:url('../../static/images/chat-light-theme.jpeg');
    --chatBackgroundBlendMode:lighten;
    --chatBackgroundColor:rgba(245, 245, 245, 0.946);
    --chatReciverMessageBackgroundColor:rgb(255, 255, 255);
    --chatSenderMessageBackgroundColor:rgb(129, 202, 255);
}
// rgb(32, 32, 36)
[data-theme="dark"] {
    --background: rgb(37, 37, 42);
    --componentBackground: black;
    --color: white;
    --lightColor: whitesmoke;
    --lighterColor: rgb(211, 211, 211);
    --hover: rgb(28, 29, 31);
    --topBar: rgba(34, 35, 41, 0.533);
    --shadow1:0px 0px 2px rgba(225, 225, 225, 0.184);
    --shadow2: 0px 0px 20px #5946ffa9;
    --border: rgb(55,58,64);
    --chatBackgroundImage:url('../../static/images/chat-dark-theme.jpeg');
    --chatBackgroundBlendMode:darken;
    --chatBackgroundColor:rgba(19, 19, 20, 0.946);
    --chatReciverMessageBackgroundColor:rgb(52, 52, 52);
    --chatSenderMessageBackgroundColor:rgb(67, 177, 255);
}

@mixin flexDisplay($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}body{
    width: 100%;
    height: 100%;
    background-color: inherit;
}



a {
    color: inherit;
}

.backArrow{
    color: var(--color) !important;
    fill: var(--color) !important;
    font-size: 25px;
}

.userApp{
    background-color:var(--componentBackground) ;
    width: 100%;
    min-height: 100vh;
    color: var(--color);
    border-color: var(--border) !important;
    @import "side_bar";
    input{
        background-color: var(--componentBackground);
        color: var(--color);
    }
    .appContainer{
    padding-top: 15px;
    @include flexDisplay(center, flex-start, row); 
     @import "home";
     @import "explore";
     @import "chat";
     @import "call";
     @import "profile";
    
    }
}
