@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --background: rgb(238, 238, 238);
  --componentBackground: white;
  --color: black;
  --lightColor: rgb(77, 77, 77);
  --lighterColor: gray;
  --hover: rgb(248, 248, 248);
  --majorColor: rgb(32, 155, 240);
  --topBar: rgba(245, 245, 245, 0.507);
  --shadow1: 0px 0px 2.5px rgba(0, 0, 0, 0.184);
  --shadow2: 0px 0px 20px #5946ffa9;
  --border: rgb(225, 225, 225);
  --chatBackgroundImage: url("../../static/images/chat-light-theme.jpeg");
  --chatBackgroundBlendMode: lighten;
  --chatBackgroundColor: rgba(245, 245, 245, 0.946);
  --chatReciverMessageBackgroundColor: rgb(255, 255, 255);
  --chatSenderMessageBackgroundColor: rgb(129, 202, 255);
  --textFont:"Lexend", sans-serif;
}

[data-theme=dark] {
  --background: rgb(0, 0, 0);
  --componentBackground: rgb(24, 23, 27);
  --color: rgb(213, 213, 213);
  --lightColor: whitesmoke;
  --lighterColor: rgb(211, 211, 211);
  --hover: rgb(28, 29, 31);
  --topBar: rgba(34, 35, 41, 0.533);
  --shadow1: 0px 0px 2px rgba(225, 225, 225, 0.184);
  --shadow2: 0px 0px 20px #5946ffa9;
  --border: rgb(54,59,64);
  --chatBackgroundImage: url("../../static/images/chat-dark-theme.jpeg");
  --chatBackgroundBlendMode: darken;
  --chatBackgroundColor: rgba(19, 19, 20, 0.946);
  --chatReciverMessageBackgroundColor: rgb(52, 52, 52);
  --chatSenderMessageBackgroundColor: rgb(67, 177, 255);
}

[data-theme=dimmed] {
  --background: rgb(28, 31, 43);
  --componentBackground: rgb(28, 31, 43);
  --color: rgb(213, 213, 213);
  --lightColor: whitesmoke;
  --lighterColor: rgb(211, 211, 211);
  --hover: rgb(40, 44, 49);
  --topBar: rgba(34, 35, 41, 0.533);
  --shadow1: 0px 0px 2px rgba(225, 225, 225, 0.184);
  --shadow2: 0px 0px 20px #5946ffa9;
  --border: rgb(49, 59, 82);
  --chatBackgroundImage: url("../../static/images/chat-dark-theme.jpeg");
  --chatBackgroundBlendMode: darken;
  --chatBackgroundColor: rgba(19, 19, 20, 0.946);
  --chatReciverMessageBackgroundColor: rgb(52, 52, 52);
  --chatSenderMessageBackgroundColor: rgb(67, 177, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

a {
  color: inherit;
}

.backArrow {
  color: var(--color) !important;
  fill: var(--color) !important;
  font-size: 25px;
}

.userApp {
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
  color: var(--color);
  border-color: var(--border) !important;
  font-weight: 500;
}
.userApp .sideBar {
  width: 100%;
  height: 65px;
  padding: 0px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
  border-bottom: 2px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--componentBackground);
}
.userApp .sideBar .searchBar-Logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .sideBar .searchBar-Logo .search_icon {
  background-color: var(--hover);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none;
  margin-left: 30px;
  padding: 10px;
}
.userApp .sideBar .searchBar-Logo .search_icon svg {
  fill: var(--lightColor);
}
.userApp .sideBar .searchBar-Logo .logo {
  margin-right: 20px;
}
.userApp .sideBar .searchBar-Logo .logo a {
  font-weight: 600;
  color: var(--majorColor);
  font-size: 25px;
}
.userApp .sideBar .searchBar-Logo .logo a img {
  width: 50px;
}
.userApp .sideBar .menu_container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .sideBar menu {
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.userApp .sideBar menu svg {
  font-size: 22px;
}
.userApp .sideBar menu.navigators {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.userApp .sideBar menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 15px;
  height: 80%;
  border-radius: 10px;
  margin-left: 15px;
  transition: ease-in-out 0.2s;
  color: var(--lightColor);
}
.userApp .sideBar menu a svg {
  font-size: 25px;
  fill: var(--lightColor);
  color: var(--lightColor);
  stroke: var(--lightColor);
}
.userApp .sideBar menu a svg path {
  stroke: var(--lightColor);
}
.userApp .sideBar menu a span {
  font-size: 11px;
  font-weight: 800;
}
.userApp .sideBar menu a.active {
  color: var(--majorColor);
}
.userApp .sideBar menu a.active svg {
  fill: var(--majorColor);
}
.userApp .sideBar menu .sideBarMenu a {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  font-size: 16px;
}
.userApp .sideBar menu .sideBarMenu a h4 {
  font-weight: 600;
}
.userApp .sideBar menu .sideBarMenu a svg {
  font-size: 20px;
}
.userApp .sideBar menu .sideBarMenu .profileImg {
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.userApp .sideBar menu .sideBarMenu .profileImg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
@media screen and (max-width: 891px) {
  .userApp .sideBar {
    padding: 0px 10px;
  }
  .userApp .sideBar .searchBar-Logo .logo {
    margin-right: 0;
  }
  .userApp .sideBar .searchBar-Logo .search_icon {
    display: flex;
  }
  .userApp .sideBar .searchBar-Logo .search_input {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .userApp .sideBar .searchBar-Logo .logo {
    margin-right: 0;
  }
  .userApp .sideBar .searchBar-Logo .logo a img {
    width: 40px;
  }
  .userApp .sideBar menu.navigators {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .userApp .sideBar menu a:not(.profileImg) {
    margin-left: 8px;
    padding: 0px 8px;
    height: 60%;
  }
  .userApp .sideBar menu a:not(.profileImg) svg {
    font-size: 25px;
  }
  .userApp .sideBar menu .profileImg {
    margin-left: 5px;
  }
  .userApp .sideBar menu .profileImg img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .userApp .sideBar {
    flex-direction: column;
    justify-content: center;
    height: 120px;
    top: -55px;
  }
  .userApp .sideBar .searchBar-Logo {
    width: 100%;
    padding-bottom: 10px;
  }
  .userApp .sideBar .menu_container {
    width: 100%;
    justify-content: center;
    gap: 10%;
  }
  .userApp .sideBar menu {
    margin: 0;
  }
  .userApp .sideBar menu.navigators {
    width: 100%;
    justify-content: space-between;
  }
  .userApp .sideBar menu:nth-child(2) {
    gap: 15%;
    padding-right: 10px;
  }
  .userApp .sideBar menu a:not(.profileImg) {
    padding: 0;
    margin: 0;
    height: 40px;
  }
  .userApp .sideBar menu a:not(.profileImg) svg {
    font-size: 20px;
  }
  .userApp .sideBar menu a:not(.profileImg) span {
    font-size: 10px;
  }
  .userApp .sideBar menu .sideBarMenu .profileImg img {
    width: 38px;
    height: 38px;
  }
}
.userApp .appContainer {
  padding-top: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.userApp .appContainer .homeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}
.userApp .appContainer .homeContainer .HomeSideBar {
  width: 280px;
  border-radius: 15px;
  background-color: var(--componentBackground);
  border: 1px solid var(--border);
  overflow: hidden;
  margin-bottom: 20px;
}
.userApp .appContainer .homeContainer .HomeSideBar .userDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userApp .appContainer .homeContainer .HomeSideBar .userDetailsContainer .profileBackgroundImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.26);
  background-image: url("https://i.ytimg.com/vi/e8fZ_Up1ZCE/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCoUVkKxcqSxQZNrzo0HUZDpQ3Xug");
  background-size: cover;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.userApp .appContainer .homeContainer .HomeSideBar .userDetailsContainer .coverPics {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .homeContainer .HomeSideBar .userDetailsContainer .profilePics {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  position: absolute;
  bottom: -40px;
  border: 5px solid var(--componentBackground);
}
.userApp .appContainer .homeContainer .HomeSideBar .userDetailsContainer h3 {
  margin-bottom: 5px;
  font-size: 18px;
}
.userApp .appContainer .homeContainer .HomeSideBar .userDetailsContainer p {
  font-size: 14px;
}
.userApp .appContainer .upgradeAds {
  padding: 20px;
  height: 200px;
  width: 280px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  background: linear-gradient(45deg, slateblue, royalblue, rgb(17, 188, 255), rgb(90, 205, 190));
  border-radius: 15px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userApp .appContainer .upgradeAds button {
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  border: 2px solid white;
  background-color: transparent;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
}
.userApp .appContainer .ActivityAndTrendingBar {
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  width: 380px;
  padding: 20px 10px;
  height: calc(100vh - 105px);
  background-color: var(--componentBackground);
  overflow-y: auto;
  border: 1px solid var(--border);
  border-radius: 15px;
}
.userApp .appContainer .ActivityAndTrendingBar:hover::-webkit-scrollbar-thumb {
  background-color: var(--border);
}
.userApp .appContainer .ActivityAndTrendingBar .heading {
  padding: 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.userApp .appContainer .ActivityAndTrendingBar.notificationContainer {
  width: 550px;
  position: static;
  background-color: var(--componentBackground);
  border: 1px solid var(--border);
  border-radius: 10px;
}
.userApp .appContainer .ActivityAndTrendingBar.SuggestedToFollow .activityContainer .activityBox {
  border-radius: 8px;
}
.userApp .appContainer .ActivityAndTrendingBar.SuggestedToFollow .activityContainer .activityBox .notificationDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .ActivityAndTrendingBar.SuggestedToFollow .activityContainer .activityBox button {
  font-weight: 700;
  font-size: 14px;
}
.userApp .appContainer .ActivityAndTrendingBar .noActivity {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}
.userApp .appContainer .ActivityAndTrendingBar .noActivity svg {
  font-size: 50px;
  margin-bottom: 20px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px;
  padding-bottom: 10px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox:hover {
  background-color: var(--hover);
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox .notificationDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox .notificationDetails img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox .notificationDetails p {
  font-size: 18px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox .notificationDetails p a {
  font-weight: 600;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox .notificationDetails .time {
  color: gray;
  font-size: 13px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox .notificationDetails .btnContainer {
  margin-top: 2px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityContainer .activityBox .notificationDetails .btnContainer button {
  font-weight: 900;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
  position: relative;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card:hover {
  background-color: var(--hover);
  border-radius: 8px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card:hover .more {
  visibility: visible;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card img {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card .text {
  width: 100%;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card .text .time {
  margin: 0;
  margin-bottom: 0px;
  font-size: 12px;
  color: var(--majorColor);
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card .text p {
  color: var(--lightColor);
  line-height: 1.1;
  font-family: var(--textFont);
  font-weight: 400;
  font-size: 15px;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card .text p span,
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card .text p a {
  font-weight: 600;
}
.userApp .appContainer .ActivityAndTrendingBar .activityCardContainer .card .more {
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
}
.userApp .appContainer .postContainer {
  width: 500px;
  min-width: 500px;
  min-height: calc(100vh - 70px);
  padding: 0px 20px;
  margin: auto;
}
.userApp .appContainer .postContainer .CreatePost {
  margin-bottom: 10px;
  border: 1px solid var(--border);
  border-radius: 15px;
  background-color: var(--componentBackground);
  overflow: hidden;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .postContainer .CreatePost .mantine-Textarea-icon {
  padding-top: 10px;
  align-items: flex-start;
}
.userApp .appContainer .postContainer .CreatePost .mantine-Textarea-root {
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.userApp .appContainer .postContainer .CreatePost .mantine-Textarea-root textarea {
  width: 100%;
  font-weight: 600;
  font-family: var(--textFont) !important;
  font-weight: 400;
  font-size: 16px;
}
.userApp .appContainer .postContainer .CreatePost .mantine-Textarea-root textarea::-moz-placeholder {
  color: var(--majorColor);
}
.userApp .appContainer .postContainer .CreatePost .mantine-Textarea-root textarea:-ms-input-placeholder {
  color: var(--majorColor);
}
.userApp .appContainer .postContainer .CreatePost .mantine-Textarea-root textarea::placeholder {
  color: var(--majorColor);
}
.userApp .appContainer .postContainer .CreatePost.focused {
  flex-direction: column !important;
  border: 2px solid var(--majorColor);
  min-height: 300px;
  height: 100%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
.userApp .appContainer .postContainer .CreatePost.focused .mantine-Textarea-root {
  margin-top: 0;
}
.userApp .appContainer .postContainer .CreatePost.focused .postImagePreview {
  width: 98%;
}
.userApp .appContainer .postContainer .CreatePost.focused .creatPostType {
  width: 100%;
  border: none;
}
.userApp .appContainer .postContainer .CreatePost.focused .mantine-Textarea-root {
  align-items: flex-start;
  width: 100%;
  padding-right: 5px;
}
.userApp .appContainer .postContainer .CreatePost.focused .mantine-Textarea-root textarea {
  width: 100%;
  height: 200px;
}
.userApp .appContainer .postContainer .CreatePost.focused .mantine-Textarea-root textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  padding-right: 5px;
}
.userApp .appContainer .postContainer .CreatePost.focused .mantine-Textarea-root textarea::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: none;
  background-color: gray;
}
.userApp .appContainer .postContainer .CreatePost .creatPostType {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-left: 1px solid var(--border);
  padding: 12px;
  padding-bottom: 20px;
}
.userApp .appContainer .postContainer .CreatePost .creatPostType .iconContainer {
  border: none;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.userApp .appContainer .postContainer .CreatePost .creatPostType .iconContainer input {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.userApp .appContainer .postContainer .CreatePost .creatPostType .iconContainer svg {
  font-size: 22px;
  color: var(--majorColor);
  cursor: pointer;
}
.userApp .appContainer .postContainer .CreatePost .creatPostType .iconContainer p {
  font-size: 9px;
  font-weight: 600;
  color: var(--lighterColor);
  cursor: pointer;
}
.userApp .appContainer .postContainer .CreatePost .creatPostType .postBtnContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview {
  position: relative;
  display: grid;
  max-height: 350px;
  overflow: auto;
  gap: 5px;
  padding: 10px;
  width: 0%;
  grid-template-columns: repeat(1, 1fr);
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview .close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  font-size: 22px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C5_card {
  grid-template-columns: repeat(2, 1fr);
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C5_card .previewCard {
  height: 200px !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C5_card .previewCard:nth-child(3) {
  grid-row: 2/span 2;
  grid-column: 1;
  height: 100% !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C4_card {
  grid-template-columns: repeat(2, 1fr) !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C4_card .previewCard {
  height: 150px !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C2_card {
  grid-template-columns: repeat(2, 1fr) !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C2_card .previewCard {
  height: 300px !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C3_card {
  grid-template-columns: repeat(2, 1fr);
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C3_card .previewCard {
  height: 200px !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview.C3_card .previewCard:nth-child(1) {
  grid-column: 1/span 2;
  height: 200px !important;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  padding-right: 5px;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: none;
  background-color: gray;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview .previewCard {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview .previewCard .postCounter {
  width: 0;
  height: 0;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview .previewCard:nth-child(5) .postCounter {
  background-color: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  color: white;
}
.userApp .appContainer .postContainer .CreatePost .postImagePreview .previewCard img,
.userApp .appContainer .postContainer .CreatePost .postImagePreview .previewCard video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .postContainer .CreatePost .heading {
  color: var(--lighterColor);
}
.userApp .appContainer .postContainer .card {
  padding: 20px;
  background-color: var(--componentBackground);
  width: 100%;
  background-color: var(--componentBackground);
  transition: 0.2s;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--border);
}
.userApp .appContainer .postContainer .card .postProfile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.userApp .appContainer .postContainer .card .postProfile .profileDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .postContainer .card .postProfile .profileDetails img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.userApp .appContainer .postContainer .card .postProfile .profileDetails span {
  color: gray;
  font-size: 12px;
}
.userApp .appContainer .postContainer .card .postProfile .profileDetails h4 {
  font-weight: 600;
}
.userApp .appContainer .postContainer .card .postCaption {
  margin-top: 10px;
  font-family: var(--textFont);
  font-weight: 300;
  font-size: 15px;
}
.userApp .appContainer .postContainer .card .postContent {
  margin-top: 10px;
  width: 100%;
  max-height: 550px;
  min-height: 0;
  display: grid;
  gap: 4px;
}
.userApp .appContainer .postContainer .card .postContent.C5_card {
  grid-template-columns: repeat(2, 1fr);
}
.userApp .appContainer .postContainer .card .postContent.C5_card .previewCard {
  height: 200px !important;
}
.userApp .appContainer .postContainer .card .postContent.C5_card .previewCard:nth-child(3) {
  grid-row: 2/span 2;
  grid-column: 1;
  height: 100% !important;
}
.userApp .appContainer .postContainer .card .postContent.C4_card {
  grid-template-columns: repeat(2, 1fr) !important;
}
.userApp .appContainer .postContainer .card .postContent.C4_card .previewCard {
  height: 150px !important;
}
.userApp .appContainer .postContainer .card .postContent.C2_card {
  grid-template-columns: repeat(2, 1fr) !important;
}
.userApp .appContainer .postContainer .card .postContent.C2_card .previewCard {
  height: 300px !important;
}
.userApp .appContainer .postContainer .card .postContent.C3_card {
  grid-template-columns: repeat(2, 1fr);
}
.userApp .appContainer .postContainer .card .postContent.C3_card .previewCard {
  height: 200px !important;
}
.userApp .appContainer .postContainer .card .postContent.C3_card .previewCard:nth-child(1) {
  grid-column: 1/span 2;
  height: 200px !important;
}
.userApp .appContainer .postContainer .card .postContent .previewCard {
  width: 100%;
  border-radius: 8px;
  height: 300px;
  overflow: hidden;
  background-position: top;
}
.userApp .appContainer .postContainer .card .postContent .previewCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .postContainer .card .postReactions {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid var(--border);
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .postContainer .card .postReactions .postReactionsContent {
  width: 150px;
  border-radius: 30px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .postContainer .card .postReactions .postReactionsContent .postReactionIconContainer {
  cursor: pointer;
  text-align: center;
  font-weight: 200;
  font-size: 15px;
  line-height: 1;
}
.userApp .appContainer .postContainer .card .postReactions .postReactionsContent .postReactionIconContainer svg {
  font-size: 20px;
  fill: gray;
}
.userApp .appContainer .postContainer .card .postReactions .postReactionsContent .postReactionIconContainer h6 {
  font-size: 9px;
}
@media screen and (max-width: 1230px) {
  .userApp .appContainer .ActivityAndTrendingBar {
    display: none;
  }
  .userApp .appContainer .ActivityAndTrendingBar.notificationContainer, .userApp .appContainer .ActivityAndTrendingBar.SuggestedToFollow {
    display: block;
  }
}
@media screen and (max-width: 891px) {
  .userApp .appContainer .homeContainer .HomeSideBar,
.userApp .appContainer .homeContainer .upgradeAds {
    display: none;
  }
  .userApp .appContainer .ActivityAndTrendingBar.SuggestedToFollow {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .userApp .appContainer .postContainer {
    width: 100vw;
    min-width: 100vw;
    padding: 0px 0px;
  }
  .userApp .appContainer .postContainer .card, .userApp .appContainer .postContainer .CreatePost {
    padding: 20px 10px;
    border-radius: 0px;
    border-right: none;
    border-left: none;
  }
  .userApp .appContainer .ActivityAndTrendingBar.notificationContainer {
    border-radius: 0;
    border-right: none;
    border-left: none;
    padding: 20px 10px;
  }
  .userApp .appContainer .ActivityAndTrendingBar .activityContainer .notificationDetails .img {
    width: 40px;
    height: 40px;
  }
  .userApp .appContainer .ActivityAndTrendingBar .activityContainer .notificationDetails h4 {
    font-size: 18px;
  }
  .userApp .appContainer .ActivityAndTrendingBar .activityContainer .notificationDetails p {
    font-size: 16px;
  }
}
.userApp .appContainer .exploreContainer {
  width: 500px;
  max-width: 500px;
  padding: 0 20px;
}
.userApp .appContainer .exploreContainer .swiper-wrapper {
  width: calc(100% - 30px);
  margin: 0px auto;
}
.userApp .appContainer .exploreContainer .swiper-button-next:after,
.userApp .appContainer .exploreContainer .swiper-button-prev:after {
  font-size: 18px;
  font-weight: 900;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.354);
}
.userApp .appContainer .exploreContainer .ExploreCategories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-right: 20px;
  width: 100%;
  overflow: hidden;
}
.userApp .appContainer .exploreContainer .ExploreCategories .card {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 8px;
}
.userApp .appContainer .exploreContainer .ExploreCategories .card:nth-last-child(1) {
  margin-right: 0;
}
.userApp .appContainer .exploreContainer .ExploreCategories .card .mantine-Chip-root {
  margin: 0;
  padding: 0;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
}
.userApp .appContainer .exploreContainer .ExploreCategories .card .mantine-Chip-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  top: -50%;
  position: relative;
  background-color: var(--componentBackground);
}
.userApp .appContainer .exploreContainer .ExploreCategories .card svg {
  font-size: 20px;
  margin-right: 5px;
  color: rgb(17, 188, 255);
}
.userApp .appContainer .exploreContainer .ExploreCategories .card h3 {
  color: var(--color);
  font-size: 13px;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost {
  width: 100%;
  margin: 20px auto;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending {
  width: 100%;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending h4 {
  margin-bottom: 30px;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card {
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card:hover {
  background-color: var(--hover);
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card:hover .text {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.419);
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text {
  padding: 10px 5px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.1s ease-in-out;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .followBtnAndNameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3px;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .followBtnAndNameContainer button {
  margin-left: 10px;
  font-size: 11px;
  padding: 3px 10px;
  border: 1px solid var(--majorColor);
  background-color: var(--majorColor);
  border-radius: 50px;
  font-weight: 800;
  color: white;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .reactions {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 40px;
  text-align: center;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .reactions svg {
  font-size: 35px;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .reactions p {
  font-weight: 700;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .profile img {
  width: 35px;
  height: 35px;
  border: 2px solid var(--border);
  margin-right: 5px;
  border-radius: 50%;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .text .profile p {
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
}
.userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card .more {
  position: absolute;
  top: 10px;
  right: 10px;
}
.userApp .appContainer .exploreContainer .postContainer {
  width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
  .userApp .appContainer .exploreContainer {
    width: 100vw;
    max-width: 100vw;
    padding: 0px 0px;
  }
  .userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending {
    padding: 0px 10px;
  }
  .userApp .appContainer .exploreContainer .exploreTrendingPost .ExploreTrending .trendingPostContainer .card img {
    height: 180px;
  }
}
.userApp .appContainer .Chat {
  width: 1000px;
  height: calc(100vh - 90px);
  transform: translateY(-10px);
  background-color: var(--componentBackground);
  border-radius: 5px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatSideBar {
  width: 300px;
  min-width: 300px;
  height: 100%;
  border-right: 2px solid var(--border);
}
.userApp .appContainer .Chat .chatSideBar .chatSearch {
  border-bottom: 2px solid var(--border);
  overflow: hidden;
}
.userApp .appContainer .Chat .chatSideBar .chatSearch input {
  border: none;
}
.userApp .appContainer .Chat .chatSideBar .chatSearch input:focus::-moz-placeholder {
  color: var(--majorColor);
}
.userApp .appContainer .Chat .chatSideBar .chatSearch input:focus:-ms-input-placeholder {
  color: var(--majorColor);
}
.userApp .appContainer .Chat .chatSideBar .chatSearch input:focus::placeholder {
  color: var(--majorColor);
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
  padding: 6px 5px;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard:hover {
  background-color: var(--background);
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard.active {
  background-color: var(--background) !important;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard.active::before {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 5px;
  background-color: var(--majorColor);
  border-radius: 10px;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard .img {
  position: relative;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard .img .chatActive {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: rgb(102, 194, 10);
  border: 2px solid var(--componentBackground);
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard p {
  font-size: 15px;
  color: var(--lighterColor);
  margin: 0 !important;
  line-height: 1.1;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard .time {
  color: gray;
  font-size: 12px;
}
.userApp .appContainer .Chat .chatSideBar .chatList .chatListCard .chatCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 11px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1px 4.5px;
  min-width: 25px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  background-color: royalblue;
}
.userApp .appContainer .Chat .chatBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.userApp .appContainer .Chat .chatBox .chartTopBar {
  width: 100%;
  height: 48px;
  min-height: 48px;
  border-bottom: 1px solid var(--border);
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatBox .chartTopBar .chatDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatBox .chartTopBar .chatDetails img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .Chat .chatBox .chartTopBar .chatDetails h4 {
  font-weight: 600;
  line-height: 0.6;
  margin-top: 2px;
}
.userApp .appContainer .Chat .chatBox .chartTopBar .chatDetails .status {
  color: gray;
  font-size: 12px;
  font-weight: 600;
}
.userApp .appContainer .Chat .chatBox .chartTopBar .chartTopBarIcons {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatBox .chartTopBar .chartTopBarIcons svg {
  font-size: 25px !important;
  color: var(--lightColor);
}
.userApp .appContainer .Chat .chatBox .messageContainer {
  background-image: var(--chatBackgroundImage);
  background-blend-mode: var(--chatBackgroundBlendMode);
  background-color: var(--chatBackgroundColor);
  background-repeat: repeat;
  background-position-x: center;
  width: 100%;
  height: 100%;
  padding: 0px 30px;
}
.userApp .appContainer .Chat .chatBox .messageContainer .chatMessagesContainer {
  width: 100%;
}
.userApp .appContainer .Chat .chatBox .messageContainer .chatMessagesContainer .chatMessagesContent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.userApp .appContainer .Chat .chatBox .messageContainer .chatMessagesContainer .chatMessagesContent.userChatMessagesContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatBox .messageContainer .chatMessagesContainer .chatMessagesContent.userChatMessagesContent .chatMessage {
  background-color: var(--chatSenderMessageBackgroundColor);
}
.userApp .appContainer .Chat .chatBox .messageContainer .chatMessagesContainer .chatMessagesContent .chatMessage {
  background-color: var(--chatReciverMessageBackgroundColor);
  padding: 10px;
  border-radius: 20px;
  max-width: 55%;
  box-shadow: var(--shadow1);
}
.userApp .appContainer .Chat .chatBox .messageContainer .chatMessagesContainer .chatMessagesContent .chatMessage p {
  font-weight: 400;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer {
  width: 100%;
  height: 60px;
  padding: 1% 10px;
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatAttachments {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatAttachments .icons {
  margin-right: 15px;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatAttachments .icons.fileChooser {
  position: relative;
  overflow: hidden;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatAttachments .icons.fileChooser input {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
  cursor: pointer;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatAttachments .icons.mic {
  margin: 0;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatAttachments .icons svg {
  font-size: 24px;
  color: var(--lighterColor);
  cursor: pointer;
  z-index: 2;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatTextarea {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatTextarea .textareaContainer {
  height: 100%;
  width: 320px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 20px;
  margin-right: 10px;
  border: 1px solid var(--border);
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatTextarea .textareaContainer svg {
  font-size: 25px;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatTextarea .textareaContainer textarea {
  font-weight: 600;
  min-height: 100%;
  max-height: 100%;
  margin-top: 20px;
  width: calc(100% - 30px);
  max-width: calc(100% - 30px);
  min-width: calc(100% - 30px);
  height: 100%;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  color: var(--color);
  outline: none;
}
.userApp .appContainer .Chat .chatBox .composeMessageContainer .chatTextarea button {
  font-size: 30px;
  color: var(--majorColor);
  background-color: transparent;
  border: none;
  margin-top: 10px;
}
.userApp .appContainer .call {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--componentBackground);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userApp .appContainer .call .callIcons {
  width: 400px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--componentBackground);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.173);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .call .callIcons svg {
  font-size: 24px;
}
.userApp .appContainer .call .callDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.userApp .appContainer .call .callDetails img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .call .callDetails video {
  width: 0;
  height: 0;
}
.userApp .appContainer .call .callDetails.answered video {
  width: 550px;
  height: 450px;
  background-color: black;
  border-radius: 10px;
}
.userApp .appContainer .call .callDetails.answered div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.userApp .appContainer .call .callDetails.answered div img {
  width: 40px;
  height: 40px;
}
.userApp .appContainer .call .callDetails.answered div p, .userApp .appContainer .call .callDetails.answered div h2 {
  display: none;
}
.userApp .appContainer .call .Webcam {
  position: absolute;
  bottom: 50px;
  right: 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: red;
  width: 300px;
  height: 250px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.173);
}
.userApp .appContainer .Profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  min-height: 100vh;
  width: 92%;
  margin: 0px auto;
}
.userApp .appContainer .Profile .backArrow {
  color: var(--color);
}
.userApp .appContainer .Profile .profileDetailsContainer {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--border);
  background-color: var(--componentBackground);
  padding-bottom: 30px;
}
.userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer {
  width: 100%;
  height: 220px;
  background-size: cover;
  position: relative;
  margin-bottom: 70px;
}
.userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer .backgroundCoverPics {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer .profilePics {
  position: absolute;
  bottom: -70px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--componentBackground);
  left: 30px;
}
.userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer .profileName {
  position: absolute;
  bottom: -40px;
  left: 200px;
}
.userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer .profileName svg {
  color: var(--majorColor);
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 20px;
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore .followersOverview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore .followersOverview p {
  font-size: 13px;
  font-weight: 600;
  color: var(--lighterColor);
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore .followersOverview p span {
  font-weight: 400;
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore .profileActionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore .profileActionsContainer button {
  font-size: 15px;
  margin-left: 10px;
  font-weight: 600;
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore .profileActionsContainer button.more {
  border: 1px solid var(--border);
  width: 35px;
  height: 35px;
}
.userApp .appContainer .Profile .profileDetailsContainer .followAndMore .profileActionsContainer button.more svg {
  font-size: 25px;
}
.userApp .appContainer .Profile .profileMediaAndSuggested {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 30px;
}
.userApp .appContainer .Profile .profileMediaAndSuggested .profileTab {
  width: 520px;
}
.userApp .appContainer .Profile .profileMediaAndSuggested .profileTab .postContainer {
  width: 100%;
  min-width: 100%;
  padding: 0;
}
.userApp .appContainer .Profile .profileMediaAndSuggested .profileTab .mantine-Tabs-tabsList {
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
  background-color: var(--componentBackground);
  border: 1px solid var(--border);
  border-radius: 0px 0px 15px 15px;
  border-top: 0;
  overflow: hidden;
  padding-bottom: 2px;
}
.userApp .appContainer .Profile .profileMediaAndSuggested .ActivityAndTrendingBar {
  margin-top: 30px;
  width: 420px;
}
@media screen and (max-width: 700px) {
  .userApp .appContainer .Profile {
    width: 100vw;
  }
  .userApp .appContainer .Profile .profileDetailsContainer {
    border-radius: 0;
    border-right: none;
    border-left: none;
  }
  .userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer {
    height: 120px;
  }
  .userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer .profilePics {
    bottom: -50px;
    left: 20px;
    width: 100px;
    height: 100px;
  }
  .userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer .profileName {
    bottom: -80px;
    left: 20px;
    font-size: 18px;
  }
  .userApp .appContainer .Profile .profileDetailsContainer .profileImgContainer .profileName svg {
    color: var(--majorColor);
  }
  .userApp .appContainer .Profile .profileDetailsContainer .followAndMore {
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .userApp .appContainer .Profile .profileDetailsContainer .followAndMore .profileActionsContainer {
    padding-top: 10px;
    width: 100%;
    justify-content: flex-end;
  }
  .userApp .appContainer .Profile .profileMediaAndSuggested .profileTab .mantine-Tabs-tabsList {
    border-radius: 0;
    border-right: none;
    border-left: none;
    top: 60px;
  }
}
.userApp .appContainer .settings {
  width: 100%;
  min-height: calc(100vh + 30px);
  transform: translateY(-15px);
}
.userApp .appContainer .SettingsSideBar {
  width: 250px;
  height: calc(100vh - 80px);
  border-right: 1px solid var(--border);
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding-top: 20px;
}
.userApp .appContainer .SettingsSideBar ul li {
  margin-bottom: 10px;
  padding: 0px 20px;
}
.userApp .appContainer .SettingsSideBar ul li a {
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  gap: 10px;
  position: relative;
}
.userApp .appContainer .SettingsSideBar ul li a:hover {
  background-color: var(--hover);
}
.userApp .appContainer .SettingsSideBar ul li a.active {
  background-color: transparent !important;
  border: 1px solid var(--border);
}
.userApp .appContainer .SettingsSideBar ul li a.active::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 70%;
  border-radius: 50px;
  left: -2.5px;
  background-color: var(--majorColor);
}
.userApp .appContainer .SettingsSideBar ul li a svg {
  font-size: 25px;
}
.userApp .appContainer .clip {
  height: calc(100vh - 100px);
}
.userApp .appContainer .clipCard {
  width: 400px;
  height: 100%;
  border-radius: 20px;
  position: relative;
  border: 1px solid var(--border);
  background-color: var(--componentBackground);
}
.userApp .appContainer .clipCard .vid_controls {
  position: absolute;
  bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 6;
  width: 100%;
  padding: 0px 20px;
}
.userApp .appContainer .clipCard .vid_controls svg {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.userApp .appContainer .clipCard video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  outline: none;
  z-index: 5;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.userApp .appContainer .clipCard .text {
  padding: 10px 5px;
  position: absolute;
  top: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  transition: 0.1s ease-in-out;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 6;
}
.userApp .appContainer .clipCard .text .followBtnAndNameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3px;
}
.userApp .appContainer .clipCard .text .followBtnAndNameContainer button {
  margin-left: 10px;
  font-size: 11px;
  padding: 3px 10px;
  border: 1px solid var(--majorColor);
  background-color: var(--majorColor);
  border-radius: 50px;
  font-weight: 800;
  color: white;
}
.userApp .appContainer .clipCard .text .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.userApp .appContainer .clipCard .text .profile img {
  width: 35px;
  height: 35px;
  border: 2px solid var(--border);
  margin-right: 5px;
  border-radius: 50%;
}
.userApp .appContainer .clipCard .text .profile p {
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
}
.userApp .appContainer .clipCard .reactionContainer {
  position: absolute;
  top: 0;
  right: -80px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.userApp .appContainer .clipCard .reactionContainer .reactionIcon {
  color: var(--lightColor);
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--componentBackground);
  border: 1px solid var(--border);
}
.userApp .appContainer .clipCard .reactionContainer .reactionIcon:hover {
  background-color: var(--hover);
}
.userApp .appContainer .clipCard .reactionContainer .reactionIcon:hover h5 {
  height: 22px;
}
.userApp .appContainer .clipCard .reactionContainer .reactionIcon svg {
  font-size: 25px;
}
.userApp .appContainer .clipCard .reactionContainer .reactionIcon h5 {
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 700px) {
  .userApp .appContainer .clip {
    height: calc(100vh - 150px);
  }
  .userApp .appContainer .clipCard .reactionContainer {
    left: 0;
    top: 100%;
    bottom: -70px;
    z-index: 7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 700px) {
  .userApp .appContainer .clip {
    padding: 0px 10px;
  }
  .userApp .appContainer .clip .clipCard {
    width: 100%;
  }
}

.BigPostCard.mantine-Modal-root {
  width: 100vw !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.BigPostCard.mantine-Modal-root .mantine-Modal-inner {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0px auto;
  padding: 0px !important;
  position: relative;
}
.BigPostCard.mantine-Modal-root .mantine-Modal-inner .mantine-Modal-header {
  position: relative;
  z-index: 1;
}
.BigPostCard.mantine-Modal-root .mantine-Modal-inner .mantine-Modal-header .mantine-Modal-close {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 50%;
}
.BigPostCard.mantine-Modal-root .mantine-Modal-inner .mantine-Modal-header .mantine-Modal-close svg {
  font-size: 25px;
  width: 20px;
  height: 20px;
}
.BigPostCard.mantine-Modal-root .mantine-Modal-inner .mantine-Modal-modal {
  margin: 0 !important;
  width: 100%;
  height: calc(100vh - 30px);
  min-width: calc(100vw - 70px);
  max-width: calc(100vw - 70px);
  overflow: hidden;
}
.BigPostCard .BigPostCardContent {
  width: 100%;
  height: 100%;
  height: calc(100vh - 30px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
}
.BigPostCard .BigPostCardContent .imagePreview {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.BigPostCard .BigPostCardContent .imagePreview .mySwiper {
  width: 100%;
}
.BigPostCard .BigPostCardContent .imagePreview .mySwiper .swiper-button-next:after,
.BigPostCard .BigPostCardContent .imagePreview .mySwiper .swiper-button-prev:after {
  font-size: 16px;
  font-weight: 900;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--majorColor);
  border-radius: 50%;
}
.BigPostCard .BigPostCardContent .imagePreview .imagePreviewCard {
  width: 100%;
  height: 100%;
  max-height: 80%;
  padding: 0 50px;
}
.BigPostCard .BigPostCardContent .imagePreview .imagePreviewCard img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.BigPostCard .BigPostCardContent .commentSection {
  width: 40%;
  height: 100%;
}

.drawer_container .drawer_label {
  color: var(--lighterColor);
  margin-bottom: 10px;
  font-size: 13px;
  border-bottom: 1px solid var(--border);
}
.drawer_container .drawer_item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  font-weight: 300;
  font-size: 15px;
  color: var(--lightColor);
  margin-bottom: 5px;
  border-radius: 5px;
}
.drawer_container .drawer_item:hover {
  background-color: var(--hover);
}
.drawer_container .drawer_item svg {
  font-size: 20px;
}/*# sourceMappingURL=styles.css.map */